<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>QuizApp</title>
<div th:insert="~{index.html :: imports}"></div>

</head>
<body style = "background-color: rgb(0, 0, 0);">
	<div th:insert="~{index.html :: navbar}"></div>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Registration </h1>
				<div class = "card-body">
					<form th:action="@{/users}" th:object = "${user}" method="POST">
						<div class ="form-group">
							<label> Username </label>
							<input
							type = "text"
							name = "Username"
							th:field = "*{username}"
							class = "form-control"
							placeholder="Enter your username" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Password </label>
							<input
							type = "password"
							name = "password"
							th:field = "*{password}"
							class = "form-control"
							placeholder="Enter your password" 
							/>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>