<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>QuizApp</title>
<div th:fragment="imports">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
			integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" 
			crossorigin="anonymous">
		</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	</script>
</div>

		
</head>
<body style = "background-color: rgb(0, 0, 0);">
	<!-- create navigation bar ( header) -->
    <div th:fragment = "navbar">
		<script>
		  $(document).ready(function(){
			 $('.dropdown-toggle').dropdown()
		 });
		</script>
	<nav class="navbar navbar-expand-lg py-3 bg-success" >
		<a class="navbar-brand text-dark" th:href="@{/}">QuizCraft</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link text-dark" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
			</li>
            <li class="nav-item active">
                <a class="nav-link text-dark" th:href="@{/login}">Login</a>
            </li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Quizzes
			  </a>


			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" th:href="@{/quizzes}">Play Quiz</a>
				<a class="dropdown-item" th:href="@{/quizzes/new}">Create Quiz</a>
				<a class="dropdown-item" th:href="@{/update-quiz}">Update Quiz</a>
			  </div>
			</li>
		  </ul>

		  <a class="nav-link text-dark" th:text="'Logged in as: ' + ${username}"></a>
		  <form class="form-inline my-2 my-lg-0">
			<a role="button" class="btn btn-outline-danger my-2 my-sm-0" th:href="@{/logout}">Logout</a>
		  </form>
		</div>
	  </nav>
      </div>
	<br>
	<br>

	<br>
	<br>
	<br>
	<div class="container font-italic text-light">
		<h1 class="font-weight-bold font-italic text-light">Welcome to QuizCraft!</h1>
		<br>
		<br>
	
		<h2>Test your knowledge and have some fun with our Quiz Application!</h2>
		<h2>Create an Account to Get Started</h2>
		<br>
		<br>
		<h2>How to Play:</h2>
		<h2>Each quiz consists of multiple questions. Enter the answer you think is correct. At the end of the quiz, click on "Submit" to see your final score.</h2>
	</div>
</body>
</html>