<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>QuizApp</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Login </h1>
				<div class = "card-body">
					<form th:action="@{/login}" th:object = "${user}" method="POST">
                        <!-- error message -->
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Invalid username or
                                password.</div>
                        </div>

                        <!-- logout message -->
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">You have been logged out.</div>
                        </div>
						<div class ="form-group">
							<label> Username </label>
							<input
							type = "text"
							name = "Username"
							th:field = "*{username}"
							class = "form-control"
							placeholder="Enter your username" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Password </label>
							<input
							type = "password"
							name = "password"
							th:field = "*{password}"
							class = "form-control"
							placeholder="Enter your password" 
							/>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
					<span>New user? <a href="/" th:href="@{/users/new}">Register
						here</a></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>