<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>QuizApp</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="text-white" style = "background-color: rgb(0, 0, 0);">
    <div th:insert="~{index.html :: navbar}"></div>
	<div>
        <form th:action="@{/quizzes/play/{id} (id=${quiz.id})}" th:object = "${qv}" method="POST">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Question</th>
                        <th scope="col">Answer</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each = "qa, rowStat: *{QAList}">
                        <td th:text = "${__${rowStat.index}__}"></td>
                        <td th:text = "${qa.questionText}"></td>
                        <input type="hidden" th:field="*{QAList[__${rowStat.index}__].questionText}" class="form-control"/>
                        <input type="hidden" th:field="*{QAList[__${rowStat.index}__].scoreValue}" class="form-control"/>
                        <td><input type="text" th:field="*{QAList[__${rowStat.index}__].userInput}" class="form-control"/></td>
                        
                        <td th:text = "${qa.scoreValue}"></td>
                    </tr>
                </tbody>
            </table>
            <div class = "box-footer">
                <button type="submit" class = "btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>

</body>
</html>