<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>QuizApp</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Dropdown
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>
			  </div>
			</li>
			<li class="nav-item">
			  <a class="nav-link disabled" href="#">Disabled</a>
			</li>
		  </ul>
          Playing in room <span th:text="${game_id}"></span>
		  <a class="nav-link disabled" href="" th:text="'Logged in as: ' + ${username}"></a>
		  <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		  </form>
		</div>
	  </nav>
	<div>
        <form th:action="@{/quizzes/play/{id} (id=${quiz.id})}" th:object = "${qv}" method="POST">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Question</th>
                        <th scope="col">Answer</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each = "qa, rowStat: *{QAList}">
                        <td th:text = "${__${rowStat.index}__}"></td>
                        <td th:text = "${qa.questionText}"></td>
                        <input type="hidden" th:field="*{QAList[__${rowStat.index}__].questionText}" class="form-control"/>
                        <input type="hidden" th:field="*{QAList[__${rowStat.index}__].scoreValue}" class="form-control"/>
                        <td><input type="text" th:field="*{QAList[__${rowStat.index}__].userInput}" class="form-control"/></td>
                        
                        <td th:text = "${qa.scoreValue}"></td>
                    </tr>
                </tbody>
            </table>
            <div class = "box-footer">
                <button type="submit" class = "btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>

</body>
</html>